body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.hcontainer {
    width: 1110px;
    height: 860px;
    /* border: 1px solid red; */
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.fd {
    width: 80px;
    height: 42px;
    flex-basis: auto;
    flex-shrink: 1;
}
.fd > p {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.3px;
}
.fd > p:nth-child(1) {
    color: #2B2B43;
}
.fd > p:nth-child(2) {
    color: #4E60FF;
}
.searchlog {
    width: 351px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    flex-basis: auto;
    flex-shrink: 1;
    width: 224px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.search img.klor {
    width: 10.67px;
    height: 10.67px;
    position: absolute;
    right: 15.33px; 
    top: 14px;
}
.search img.gic {
    height: 2.9px;
    width: 2.9px;
    position: absolute;
    right: 14px; 
    top: 23.1px;
}
.search input {
    background: #EDEEF2;
    border-radius: 12px;
    width: 224px;
    height: 40px;
    padding: 10px 48px 10px 12px;
}
.headermenu {
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 249px;
    height: 32px;
    flex-basis: auto;
    flex-shrink: 1;
}
.nav {
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #2B2B43;
}
a { text-decoration: none; }
.nav p {
    margin: 0;
}
.divider1 {
    height: 32px;
    width: 0;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
}
.divider2 {
    height: 32px;
    width: 0;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
    display: none;
}
.badge {
    background: #F3F4FF;
    border-radius: 16px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.badge img.bag {
    width: 20px;
    height: 20px;
}
.chors {
    background: #4E60FF;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}
.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #EDEEF2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img.icon {
    width: 50px;
    height: 50px;
    border-radius: 16px;
}
.menuicon {
    background: #EDEEF2;
    border-radius: 16px;
    height: 44px;
    width: 44px;
    display: none;
}
.hdivider {
    width: 100%;
    height: 0;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.deals {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.deal {
    border-radius: 16px;
    width: 540px;
    height: 188px;
    flex-shrink: 1;
    flex-basis: auto;
    display: grid;
    margin-top: 24px;
}
.keks {
    width: 290px;
    height: 188px;
    grid-row: 1/4;
    grid-column: 1/2;
}
.keks img {
    height: 188px;
    width: 290px;
    filter: drop-shadow(0px -12px 32px rgba(156, 155, 157, 0.16));
}
.alldes {
    height: 28px;
    width: 210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    grid-row: 1/2;
    grid-column: 2/3;
}
.qsantok p {
    margin: 0;
}
.qsantok {
    height: 56px;
    width: 210px;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1px;
    color: #4E60FF;
    grid-row: 2/3;
    grid-column: 2/3;
}
.deserty {
    height: 20px;
    width: 210px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #83859C;
    grid-row: 3/4;
    grid-column: 2/3;
}
.deal:first-of-type {
    background: #F3F4FF;
}
.deal:last-of-type {
    background: #FFF3ED;
}
.deal:last-of-type .qsantok {
    color: #FD6D22;   
}
.categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category {
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    width: 160px;
    height: 80px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.category {
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    width: 160px;
    height: 80px;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.category:hover {
    background: #F8F9FF;
    border: 1px solid #697BFF;
    box-sizing: border-box;
    border-radius: 16px;
}
.category:visited {
    background: #F3F4FF;
    border: 2px solid #4E60FF;
    box-sizing: border-box;
    border-radius: 16px;
    text-decoration: none;
}
.category img {
    height: 24px;
    width: 24px;
}
.catname {
    height: 18px;
    width: 128px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #545563;
}
.catname p {
    margin: 0;
}
.nearby {
    width: 100%;
    height: 28px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.1px;
color: #2B2B43;
margin-top: 20px;
}
.nearby p {
    margin: 0;
}
.restaurants {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rest {
    width: 350px;
    height: 276px;
    background: #FFFFFF;
border: 1px solid #EDEEF2;
box-sizing: border-box;
border-radius: 16px;
margin-top: 30px;
position: relative;
}
.restpic {
    width: 350px;
    height: 160px;
}
.restpic img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 348px;
    height: 160px;
}
.details {
    height: 46px;
    width: 318px;
    position: absolute;
    bottom: 54px;
    left: 16px;
}
.restname {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}
.restname p { margin: 0; }
img.klorjam {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 3px;
    left: 1px;
}
img.slaq {
    width: 3px;
    height: 6px;
    position: absolute;
    bottom: 6px;
    left: 5px;
}
.time {
    position: absolute;
    width: 149px;
    height: 16px;
    left: 18px;
    top: 30px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #83859C;
}
.time p { margin: 0; }
.time span { color: #4E60FF; }
.details > img:last-child {
    position: absolute;
width: 20px;
height: 20px;
right: 0px;
top: 2px;
}
.badges {
    height: 24px;
    width: auto;
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bagde {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70px;
    height: 24px;
    background: #EDEEF2;
    border-radius: 100px;
    margin: 5px;
}
.bagde img {
    width: 12px;
    height: 12px;
}
.bagde p {
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #545563;
}
.feat {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4E60FF;
    border-radius: 0px 16px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 94px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.erku {
    background: #4E60FF;
    border-radius: 6px;
    border: 1.5px solid #FFFFFF;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 310px;
    bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}
.resthalf {
    height: 66px;
    width: 350px;
    background: #FFFFFF;
border: 1px solid #EDEEF2;
box-sizing: border-box;
border-radius: 16px 16px 0 0;
margin-top: 30px;
}
.resthalf img {
    border-radius: 16px 16px 0 0;
    height: 66px;
    width: 348px;
}
@media screen and (max-width: 360px) {
    .navbar {
        display: none;
    }
    .search {
        display: none;
    }
    .hcontainer {
        width: 330px;
        height: 1920px;
        /* border: 1px solid red; */
    }
    .menuicon {
        display: inline-block;
    }
    .divider2 {
        display: inline-block;
    }
    .deal {
        border-radius: 16px;
        width: 330px;
        height: 296px;
        flex-shrink: 1;
        flex-basis: auto;
        display: grid;
        margin-top: 24px;
    }
    .keks {
        width: 330px;
        height: 205px;
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .keks img {
        width: 330px;
        height: 208px;
        filter: drop-shadow(0px -12px 32px rgba(156, 155, 157, 0.16));
    }
    .alldes {
        height: 28px;
        width: 210px;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #2B2B43;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .alldes p, .qsantok p {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .qsantok {
        height: 56px;
        width: 210px;
        font-weight: 800;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.1px;
        color: #4E60FF;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .deserty {
        height: 20px;
        width: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #83859C;
        text-align: right;
        grid-row: 1/3;
        grid-column: 2/3;
    }
    .category {
        width: 100px;
    }
    .resthalf {
        display: none;
    }
    .rest, .restpic {
        width: 330px;
    }
    .restpic img {
        width: 328px;
    }
    .details {
        width: 298px;
    }
    .erku {
        left: 290px;
    }
}