body {
    font-family: Nunito, sans-serif;
}
.lcontainer {
    width: 1440px;
    height: 860px;
    display: flex;
    flex-wrap: nowrap;
}
.login {
    height: 860px;
    width: 640px;
    background-color: #fff;
    display: flex;
    justify-content: center;

}
.loginform {
    width: 350px;
}
.fd {
    width: 80px;
    height: 42px;
    padding-top: 20px;
}
.fd > p {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.3px;
}
.fd > p:nth-child(1) {
    color: #2B2B43;
}
.fd > p:nth-child(2) {
    color: #4E60FF;
}
.form {
    height: 798px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    margin: 0;
}
.form > div > p {
    color: #545563;
}
form input[type=email], form input[type=password] {
    width: 100%;
    height: 44px;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
}
form label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}
.checkbox {
    display: flex;
    align-items: center;
}
form input[type=checkbox] {
    height: 18px;
    width: 18px;
    border: 2px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 4px;
}
form label[for=checkbox] {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding-left: 12px;
}
form input[type=submit] {
    width: 100%;
    height: 44px;
    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
form button {
    width: 100%;
    height: 44px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #4E60FF;
    border: none;
    background-color: #FFFFFF;
    margin-top: 16px;
}
.signup {
    text-align: center;
    width: 350px;
    height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.signup p {
    color: #545563;
}
.signup a {
    text-decoration: none;
    color: #4E60FF;
}
.reviews {
    width: 800px;
    height: 860px;
    background-color: #697BFF;
    position: relative;
}
.review1 {
    background: #FFFFFF;
    border: 0.894286px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 14.3086px;
    width: 313px;
    height: 436.41px;
    position: absolute;
    top: 48px;
    left: 95px;
}
.over {
    width: 284.68px;
    height: 39.46px;
    display: flex;
    justify-content: space-between;
    margin-top: 16.1px;
    margin-left: 14.31px;
}
.all {
    width: 100%;
    height: 39.46px;
}
.overall {
    width: 284.38px;
    height: 16.1px;
    font-weight: 700;
    font-size: 11.6257px;
    line-height: 16px;
    letter-spacing: 0.0894286px;
    color: #2B2B43;
    position: absolute;
    left: 14.31px;
    top: 14.31px;
}
.overall p {
    margin: 0;
}
.fourtwo { 
    margin: 0; 
    font-style: normal;
    font-weight: 600;
    font-size: 17.8857px;
    line-height: 25px;
letter-spacing: 0.0894286px;
color: #4E60FF;
} 
.rating {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: absolute;
width: 140px;
height: 25.04px;
left: 14.31px;
top: 32.19px;
justify-content: space-between;
}
.rating img {
    width: 10.43px;
    height: 9.92px;
}
p.three, p.ten {
    font-weight: 700;
font-size: 10px;
line-height: 14px;
color: #83859C;
}
.over button {
    border: 1px solid #4E60FF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 107.62px;
    height: 39.46px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #4E60FF;
    font-family: 'Nunito';
    background-color: #FFFFFF;
    letter-spacing: 0.3px;
}
.divider {
    width: 310px;
    position: absolute;
    top: 71.54px;
    background-color: #EDEEF2;
    border: 0.894286px solid #EDEEF2;
}
.sort {
    position: absolute;
height: 31.31px;
left: 82.33px;
right: 82.33px;
top: 82.27px;
background: #FFFFFF;
border: 1px solid #C7C8D2;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
color: #83859C;
text-align: center;
}
.sav {
width: 284.38px;
height: 130.41px;
display: grid;
position: absolute;
left: 14.31px;
top: 135.93px;
}
.avatar {
    grid-column: 1/2;
    grid-row: 1/5;
}
.miles {
    width: 241.46;
    height: 18;
    grid-row: 1/2;
    grid-column: 2/3;
    font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;
color: #2B2B43;

}
.rating1 {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
width: 124.33px;
height: 13px;
justify-content: space-between;
grid-column: 2/3;
grid-row: 2/3;
}
p.sva {
    width: 241.46px;
    height: 54px;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;
color: #2B2B43;
grid-row: 3/4;
grid-column: 2/3;
margin: 0;
}
.like {
    width: 80.81px;
    height: 29.31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 4/5;
}
.like > img.like {
    width: 34.46px;
    height: 15px;
}
.like > img.dislike {
    width: 28.46px;
    height: 15px;
}
.divider2 {
    width: 284.38px;
    height: 0;
    background-color: #EDEEF2;
    border: 0.894286px solid #EDEEF2;
    position: absolute;
    top: 280.65px;
    left: 14.31px;
}
.jac {
    width: 284.38px;
    height: 130.41px;
    display: grid;
    position: absolute;
    left: 14.31px;
    top: 294.95px;
    }
.nigiri {
    background: #FFFFFF;
border: 0.846575px solid #EDEEF2;
box-sizing: border-box;
border-radius: 13.5452px;
height: 132px;
width: 618px;
position: absolute;
left: 65px;
top: 430px;
filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
display: flex;
align-items: center;
}
.nig {
    width: 590.9px;
    height: 104.9px;
    margin-left: 13.55px;
    display: grid;
}
.nig img {
    width: 152.38px;
    height: 104.91px;
    border-radius: 8px;
}
.pic {
    width: 169.31px;
    grid-row: 1/4;
    grid-column: 1/2;
}
.set {
    height: 21px;
    width: 270.9px;
    font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1px;
color: #2B2B43;
grid-row: 1/2;
grid-column: 2/3;
}
.nigdom {
    height: 31px;
    width: 270.9px;
    font-weight: 400;
font-size: 11px;
line-height: 18px;
letter-spacing: 0.2px;
color: #83859C;
grid-row: 2/3;
grid-column: 2/3;
}
.dollar {
    height: 28px;
    width: 270.9px;
    font-weight: 800;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #2B2B43;
grid-row: 3/4;
grid-column: 2/3;
}
.nig p {
    margin: 0;
}
.counter {
    width: 112.41px;
    height: 30.41;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 3/4;
}
button.minus {
    width: 16.93px;
    height: 16.93px;
    background: #EDEEF2;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.7726px;
}
.counter p {
    margin-left: 5.08px;
    margin-right: 5.08px;
    font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.1px;
color: #2B2B43;

}
button.plus {
    width: 16.93px;
    height: 16.93px;
    background: #EDEEF2;
    border-radius: 6.7726px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add {
    grid-row: 3/4;
    grid-column: 3/4;
}
.add button {
    display: flex;
flex-direction: row;
align-items: center;
padding: 10.1589px 13.5452px;
width: 112.41px;
height: 37.32px;
background: #F3F4FF;
border-radius: 6.7726px;
font-weight: 700;
font-size: 12px;
line-height: 20px;
color: #4E60FF;
font-family: 'Nunito';
}
.roll {
    width: 294px;
    height: 279px;
    background: #FFFFFF;
border: 0.84px solid #EDEEF2;
box-sizing: border-box;
border-radius: 13.44px;
position: absolute;
right: 71px;
top: 80px;
}
.roll img {
    position: absolute;
    left: 13.44px;
    top: 13.44px;
    right: 13.44px;
    bottom: 114.12px;
    border-radius: 13.44px;
}
p.rroll {
    position: absolute;
height: 21px;
left: 13.44px;
right: 13.44px;
top: 174.72px;
font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1px;
color: #2B2B43;
margin: 0;
}
p.rolldom {
    position: absolute;
height: 31px;
left: 13.44px;
right: 13.44px;
top: 198.24px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 18px;
letter-spacing: 0.2px;
color: #83859C;
margin: 0;
}
p.rolldoll {
    position: absolute;
height: 27px;
left: 13.44px;
right: 53.76px;
bottom: 13.2px;
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #2B2B43;
margin: 0;
}
.reviews h2 {
    position: absolute;
width: 480px;
height: 42px;
left: calc(50% - 480px/2);
top: 630px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
align-items: center;
text-align: center;
letter-spacing: 0.1px;
color: #FFFFFF;
margin: 0;
}
.reviews > p {
    position: absolute;
width: 480px;
height: 40px;
left: calc(50% - 480px/2);
top: 688px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;
color: #FFFFFF;
margin: 0;
}
.dots {
    position: absolute;
width: 56px;
height: 8px;
left: 372px;
top: 768px;
display: flex;
justify-content: space-between;
}
.inactive {
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;
}
.active {
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 50%;
}
@media screen and (max-width: 360px) {
    .reviews {
        display: none;
    }
    .login {
        height: 812px;
        width: 360px;
    }
    .loginform {
        width: 330px;
    }
    .form {
        height: 750px;
    }
}