body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.hcontainer {
    width: 1110px;
    height: 860px;
    /* border: 1px solid red; */
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.fd {
    width: 80px;
    height: 42px;
    flex-basis: auto;
    flex-shrink: 1;
}
.fd > p {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.3px;
}
.fd > p:nth-child(1) {
    color: #2B2B43;
}
.fd > p:nth-child(2) {
    color: #4E60FF;
}
.searchlog {
    width: 351px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    flex-basis: auto;
    flex-shrink: 1;
    width: 224px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.search img.klor {
    width: 10.67px;
    height: 10.67px;
    position: absolute;
    right: 15.33px; 
    top: 14px;
}
.search img.gic {
    height: 2.9px;
    width: 2.9px;
    position: absolute;
    right: 14px; 
    top: 23.1px;
}
.search input {
    background: #EDEEF2;
    border-radius: 12px;
    width: 224px;
    height: 40px;
    padding: 10px 48px 10px 12px;
}
.headermenu {
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 249px;
    height: 32px;
    flex-basis: auto;
    flex-shrink: 1;
}
.nav {
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #2B2B43;
}
a { text-decoration: none; }
.nav p {
    margin: 0;
}
.divider1 {
    height: 32px;
    width: 0;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
}
.divider2 {
    height: 32px;
    width: 0;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
    display: none;
}
.badge {
    background: #F3F4FF;
    border-radius: 16px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.badge img.bag {
    width: 20px;
    height: 20px;
}
.chors {
    background: #4E60FF;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}
.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #EDEEF2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img.icon {
    width: 50px;
    height: 50px;
    border-radius: 16px;
}
.menuicon {
    background: #EDEEF2;
    border-radius: 16px;
    height: 44px;
    width: 44px;
    display: none;
}
.hdivider {
    width: 100%;
    height: 0;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.settings {
    width: 350px;
}
.account {
    width: 730px;
}
.settp {
    width: 100%;
    height: 28px;
    font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.1px;
color: #2B2B43;
}
.element {
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    height: 72px;
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.elem {
    display: grid;
    height: 40px;
    width: 204px;
    margin-left: 16px;
}
.ikon {
    width: 40px;
    height: 40px;
    grid-row: 1/3;
    grid-column: 1/2;
}
.head {
    height: 20px;
    width: 266px;
    font-family: 'Nunito';
    grid-row: 1/2;
    grid-column: 2/3;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;
color: #2B2B43;
margin-left: 12px;
}
.head p, .subhead p { margin: 0; }
.subhead {
    height: 18px;
    width: 266px;
    font-family: 'Nunito';
    grid-row: 2/3;
    grid-column: 2/3;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.2px;
color: #545563;
margin-left: 12px;
}
.active {
    background: #F3F4FF;
border: 2px solid #4E60FF;
box-sizing: border-box;
border-radius: 16px;
}
.formcont {
    height: 688px;
    width: 100%;
    margin: 20px 0;
    background: #FFFFFF;
border: 1px solid #EDEEF2;
box-sizing: border-box;
border-radius: 16px;
}
.personal {
    margin: 24px 16px 20px 16px;
}
.info {
    height: 24px;
    width: 100%;
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1px;
color: #2B2B43;
}
.info p { margin: 0; }
.av {
    height: 16px;
    width: 100%;
    font-family: 'Nunito';
    margin: 10px 0;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #545563;
}
.avcont {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
}
.avcont img {
    height: 88px;
    width: 88px;
    border-radius: 12px;
}
.change {
    width: 83px;
    height: 44px;
    margin: 24px;
    border: 1px solid #4E60FF;
box-sizing: border-box;
border-radius: 8px;
background-color: #FFFFFF;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #4E60FF;
}
.remove {
    width: 86px;
    height: 44px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #83859C;
background-color: #FFFFFF;
border: none;
}
.infocont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 16px 0;
}
.infocont label {
    height: 16px;
    width: 341px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #545563;
}
.infocont input {
    height: 44px;
    width: 341px;
    border: 1px solid #C7C8D2;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;
color: #2B2B43;
padding: 12px;
}
.info3, .info4 {
    height: 64px;
    width: 341px;
    margin-top: 32px;
}
.icont1, .icont2 {
    height: 160px;
    width: 341px;
}
.emailnotif {
    width: 100%;
    margin-top: 70px;
}
.email {
    height: 24px;
    width: 100%;
    font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1px;
color: #2B2B43;
}
.email p { margin: 0; }
.notifcont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.notif3, .notif4, .notif5, .notif6 {
    height: 20px;
    width: 341px;
    margin-top: 24px;
}
.notif1, .notif2 {
    height: 20px;
    width: 341px;
    margin-top: 16px;
}
.ncont1, .ncont2 {
    height: 108px;
    width: 341px;
}
.notifcont label {
    height: 20px;
    width: 309px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #545563;
}
.log-out {
    height: 44px;
    width: 298px;
    border: 1px solid #FF5C60;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #FF5C60;
display: none;
background-color: #FFFFFF;
margin-top: 60px;
}
.dividerf {
    height: 0;
    width: 728;
    border: 1px solid #EDEEF2;
    background-color: #EDEEF2;
}
.buttons {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonwrap {
    height: 44px;
    width: 698px;
    margin: 20px 16px;
    display: flex;
    justify-content: space-between;
}
.logout {
    height: 44px;
    width: 84px;
}
.submit {
    width: 283px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 84px;
    height: 44px;
    border: 1px solid #FF5C60;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #FF5C60;
background-color: #FFFFFF;
}
.buttons input[type=reset] {
    width: 143px;
height: 44px;
border: 1px solid #83859C;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #83859C;
background-color: #FFFFFF;
}
.buttons input[type=submit] {
    width: 124px;
height: 44px;
background: #4E60FF;
box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
border-radius: 8px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #FFFFFF;
}
@media screen and (max-width: 360px) {
    .hcontainer {
        width: 330px;
        height: 1672px;
    }
    .navbar {
        display: none;
    }
    .search {
        display: none;
    }
    .menuicon {
        display: inline-block;
    }
    .divider2 {
        display: inline-block;
    }
    .avatar {
        border-color: #4E60FF;
    }
    .account {
        width: 330px;
    }
    .info2, .info3, .info4 {
        height: 64px;
        width: 298px;
        margin-top: 32px;
    }
    .infocont input {
        width: 298px;
    } 
    .formcont {
        height: auto;
    }
    .emailnotif {
        height: auto;
    }
    .ncont2 {
        margin-top: 24px;
    }
    .log-out {
        display: inline-block;
    }
    .logout {
        display: none;
    }
    .buttons input[type=submit] {
        width: 139px;
    }
    .buttons input[type=reset] {
        width: 143px;
    }
    .submit {
        width: 298px;
    }
}